.container{
    width:calc( 100% - 80px );
    /* width: min(100%,800px);
    width: max(50%,300px,70vh); */     
    aspect-ratio: 1/1;
    border: solid yellow 4px;
    margin-inline: auto;
}
.box{
    display: inline-block;
    
    width:  calc(200px/4);
    border: solid green 2px
}