*{
    box-sizing: border-box;
}
.container{
    height: 200px;
    border: 2px solid yellowgreen;
    display: flex;
    /* flex-direction: column; */
    /* flex-direction: row-reverse;*/
    /* flex-direction: column-reverse; */
    /* flex-wrap: wrap; */
    /* flex-wrap: wrap-reverse; */
    /* flex-flow: row nowrap; */
    /* justify-content: flex-end; */
    /* justify-content: baseline; */
    /* justify-content: space-around; */
    /* justify-content: space-between; */
    /* justify-content: space-evenly; */
    /* gap: 10px; */
    /* align-items: baseline; */
   /* align-items: stretch; by default  */
   flex-flow: row nowrap;
   justify-content: center;
   align-items: center;
   /* align-content: flex-start ; */
   /* row-gap: 40px;
   column-gap: 40px; */
   /* gap: 10px; */
   /* align-content: space-around; */

    
} 
.box{
    border: 2px solid maroon;
    /* width: 60px; */
    flex-basis: 25%;
    /* flex-grow: 1; */
}
#box-3{
    /* order: 1; */
    /* flex-shrink: 20; */
    /* flex-basis: 200px; */
}
#box-2{
    /* order: 5; */
    /* flex-grow: 7; */
}
#box-5
{
    flex: 0 5 150;
    /* order:3 */
    /* flex-grow: 4; */
    
}
#box-6{
    align-self: stretch;
    
}